@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Viga&display=swap');


.about-me-header {
    font-size: 100px;
    text-align: center;
    font-family: Orbitron;
    color: white;
}

.bio {
    font-size: 20px;
    font-family: viga;
    color: white;
}

.frontend-skills {
    color: white;
}

.backend-skills {
    color: white;
}

.interests {
    color: white;
}

.about-container {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
}