* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5vh;
}



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.nav-start {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-end {
  width: 100%;
  float: left;
  padding: 1px;
  text-align: right;

position: fixed;
  top: 0;
  right: 2px;
}

.navbar-links {
  padding: 1em;
  color: black;
}

.navbar-links:active {
  border-bottom: solid 1em black;
}

.home-container {
  width: 100%;
  overflow: hidden;
  /* display: block; */
}

.home-text {
  font-family: Michroma;
  font-weight: 800;
  text-align: center;
}

.avt {
    
  max-width: 20%;
  max-height: 20%;
  display: block;
  margin: 0 auto;
  padding: 3.75em;
}

.desk-pic-div {
  display: flex;
  position: relative;
}

.desk-pic{
  display: block;
 margin: 0 auto;
 max-width: 100%;
}
  

.about-container {
  background-color: #fc0313;
  width: 100%;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  overflow: hidden;
  border-bottom: none;
}

.about-me-header {

  padding-top: 3.125em;
  font-family: Michroma;
  font-weight: 900;
  text-align: center;
  color: white;
}

.bio {
  padding: 3.125em;
  font-weight: 200;
  line-height: 2.0;
  color: white;
  font-family: Michroma;
  overflow: hidden;
}

.skills-container {
  background-color: white;
  display: block;
  text-align:center;
  border-bottom-color: white;
  overflow: hidden;
}

.column-wrapper {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-bottom: none;
  overflow: hidden;
}

.skills-column {
  padding-top: 10%;
 display: block;
  margin: 5%;
  font-family: Michroma;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

.skills-header {
  font-family: Michroma;
  font-size: 2em;
  font-weight: 900;
}

.contact-container {
    height: 100%;
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 25px;
}

.contact-text-div {
  margin-top: 5%;
  font-family: Michroma; 
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5%;
}

.contact-header {
  margin-top: 15%;
  font-family: Michroma; 
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10%;
}

.convo-btn {
  margin-top: 15%;
  height: 100%;
  max-width: 100%;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  background-color: white;
  color: #fc0313;
  border-color: #fc0313;
  font-family: Michroma;
  padding: 1em;
}

.convo-btn:hover {
  background-color: #fc0313;
  color: white;
  border-color: #fc0313;
}

.mail-div-contact {
  margin-bottom: 10%;
}


.projects-header {
  font-family: Michroma;
  text-align: center;
 font-size: 3em;
 margin-top: 15%;
}

.projects-container {
  display: block;
  width: 100%;
  border-radius: 25px;
}


.h4-for-message {
  padding: 10%;
  font-size: 1.5em;
  font-family: Michroma;
  text-align: center;
}

.proj-title {
  text-align: center;
  font-size: 2em;
  font-family: Michroma;
  
}

.project-pics-and-info {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 25px;
 
}

.project-info-div {
  width: 45vw;
  min-width: 15em;
  margin: 0 auto;
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  word-wrap: break-word;
  margin-top: 5%;
  margin-bottom: 5%;
}

.project-info-div p {
  line-height: 1em;
  line-break: auto;
  font-size: 1.5em;

}

.project-info-div li {
  line-height: 1em;
  font-size: 2em;
}

.front-card {
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  width: 40vw;
  min-width: 15em;
  margin: 0 auto;
  box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.git-btn {
  /* width: 10%; */
  height: 10%;
  border-radius: 25px;
  background-color: white;
  color: #fc0313;
  border-color: #fc0313;
  margin-bottom: 100px;
  font-family: Michroma;
  float: left;
  margin-left: 30%;
  margin-bottom: 5%;
  max-width: 100%;
  padding: 0.5em;

}

.youtube-btn {
  /* width: 10%; */
  height: 10%;
  border-radius: 25px;
  background-color: white;
  color: #fc0313;
  border-color: #fc0313;
  font-family: Michroma;
  float: right;
  margin-right: 30%;
  margin-bottom: 5%;
  max-width: 100%;
  padding: 0.5em;

}
li {
  list-style: none;
}



.git-btn:hover {
  background-color: #fc0313;
  color: white;
  border-color: #fc0313;
  font-family: Michroma;
}

.youtube-btn:hover {
  background-color: #fc0313;
  color: white;
  border-color: #fc0313;
  font-family: Michroma;
}



.project-images {
  
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.footer-container {
  background-color: #fc0313;
  width: 100%;
  padding-bottom: 10%;
  border: 3px solid #fc0313;
}

.quote p {
  color: white;
  text-align: center;
  font-family: Michroma;
  font-size: 2em;
  margin-top: 2em;
}

.social-icons {
  display: inline-block; 
  margin: 0 auto;
  margin-left: 35%;
}

.icon-divs {
  margin-top: 30%;
  display: inline-block;
  border: solid white;
  border-radius: 50px;
}

.icons {
  color: white;
  height: 50px;
  width: 100px;
} 

.icon-divs:hover {
  background-color: white;
}

.icons:hover {
  color: #fc0313;
}

.copyright p {
  color: white;
  text-align: center;
  font-family: Michroma;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 5em;
}



@media only screen and (max-width: 960px) {

  .nav-start {
    display: none;
  }

  .nav-end {
    display: none;
  }

  .home-text {
    width: 100%;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
  }

  .home-container {
    width: 100%;
  }

  .avt {
    max-height: 50%;
    max-width: 50%;
  }

  .desk-pic-div {
    width: 100%;
  }

  .about-container {
    width: 100%;
    overflow: hidden;
  }

  .about-me-header {
    font-size: 20px;
    width: 100%;
  }

  .bio {
    font-size: 12px;
  }

  .skills-column {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    border-bottom-color: white;
  }

  .skills-header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 3em;
  }

  .skills-column li {
    font-size: 12px;
    line-height: 2.0;
  }

  .skills-column p {
    font-size: 12px;
    line-height: 2.0;
  }

  .projects-container {
    width: 100%;
    margin: 0 auto;
  }

  .projects-header {
    font-family: Michroma;
    text-align: center;
   font-size: 20px;
   margin-top: 15%;
  }

  .h4-for-message {
    padding: 10%;
    font-size: 12px;
    font-family: Michroma;
    text-align: center;
  }

  .project-pics-and-info {
    width: 100%;
    margin-bottom: 30%;
  }

  .proj-info-h4 {
    text-align: center;
    font-size: 1.5em;
  }

  .proj-info-div {
    width: 45vw;
    min-width: 15em;
    margin: 0 auto;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    word-wrap: break-word;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .proj-info-div p {
    font-size: 0.5em;
    line-height: 0.5em;
  }

  .proj-info-div li {
    font-size: 0.5em;
    line-height: 0.5em;
  }

  .proj-title {
    font-size: 15px;
    font-family: Michroma;
  }

  .front-card {
    max-width: 100%;
    max-height: 100%;
  }

  .git-btn {
    max-width: 100%;
    float: left;
    margin-left: 15%;
    padding: 0.5em;
  }

  .youtube-btn {
    max-width: 100%;
    float: right;
    margin-right: 15%;
    padding: 0.5em;
  }

  .contact-container {
    width: 100%;
  }

  .contact-text-div {
    width: 100%;
  }

  .contact-header {
    font-size: 20px;
    font-family: Michroma;
    text-align: center;
  }

  .contact-text-div p {
    font-size: 12px;
    margin: 0 auto; 
    font-family: Michroma;
  }

  .convo-btn {
    height: 50%;
    width: 50%;
    border-radius: 25px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;

  }
  
  .icon-divs {
    margin-top: 30%;
    border: solid white;
    border-radius: 50px;
  }
  
  .icons {
    color: white;
    max-width: 100%;
  } 

  .quote p{
    color: white;
  text-align: center;
  font-family: Michroma;
  font-size: 1em;
  margin-top: 1.5em;
  }

  .copyright p {
    color: white;
    text-align: center;
    font-family: Michroma;
    font-size: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 5em;
  }

}

/* @media only screen and (min-width: 375px) 

 */
