:root {
  --desktop: 1200px; 
  --laptop: 1024px; 
  --tablet: 768px; 
  --phone: 320px;
}

body {
  display: flex; 
  justify-content: center;
  overflow-y: auto;
}



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.nav-start {
  width: 100%;
}

.nav-end {
  width: 100%;
  float: left;
  padding: 1px;
  text-align: right;
}

.home-text {
  font-family: Michroma;
  font-weight: 800;
  text-align: center;
}

.avt {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 60px;
}

.desk-pic-div {
  display: flex;
  position: relative;
}

.desk-pic{
  display: block;
 margin: 0 auto;
}
  

.about-container {
  background-color: #fc0313;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.about-me-header {

  padding-top: 50px;
  font-family: Michroma;
  font-weight: 900;
  text-align: center;
  color: white;
}

.bio {
  padding: 50px;
  font-weight: 200;
  line-height: 2.0;
  color: white;
  font-family: Michroma;
}

.skills-container {
  background-color: #fc0313;
  display: block;
  text-align:center;
}

.column-wrapper {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  
}

.skills-column {
 display: block;
  margin: 50px;
  font-family: Michroma;
  text-align: center;
}

.skills-header {
  font-family: Michroma;
  font-weight: 900;
}

.contact-container {
    height: 100%;
    width: 100%;
  
}

.contact-header {
  font-family: Orbitron; 
  font-size: 75px;
  text-align: center;
}

.linked-div-contact {
  border-style: solid;
  border-color: white;
  box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  float: left;
  margin: 40px;
}
.git-div-contact {
  border-style: solid;
  border-color: white;
  box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  float: left;
  margin: 40px;
}
.mail-div-contact {
  border-style: solid;
  border-color: white;
  box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  float: left;
  margin: 40px;
}

.linked-icon {
    color: blue;
    height: 100%; 
    width: 100%;
}

.github-icon {
    color: black;
    width: 100%;
    height: 100%;

}

.mail-icon {
    color: red;
    width: 100%;
    height: 100%;
}






.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  
}

.projects-header {
 
  text-align: center;
  font-size: 50px;
  font-family: Orbitron;
 
}

li {
  list-style: none;
}

h4{
  color: black;
  font-size: 20px;
}

label {
  color: white;
}

.front-card {
  height: 350px; 
  width: 700px;
  float: left;
  margin-left: 100px;
  margin: 20px;
  padding: 50px;
  border-style: solid;
  border-color: white;
  box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);


}

/* .btn {
  height: 20px;
  width: 20px;
} */

.project-images {
  
  max-width: 100%;
  max-height: 100%;

  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 100px;
}

.flexbox-item-3 {
  min-height: 100px;
}

.opening-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /*Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.home-linkedin {
  height: 100px; 
  width: 100px;
  position: relative; 
  top: 200px; 
}

.home-github {
  height: 100px; 
  width: 100px;
  position: relative; 
  top: 200px; 
}



/* 
look into adding margin: auto; for positioning some divs in the middle.
  div:hover{
    transform: scale(1.1); expands on hover
  }

  ANIMATIONS EXAMPLE: 
    #rect {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-out;
  }

  @keyframes rainbow {
    0% {
      background-color: blue;
    }
    50% {
      background-color: green; 
    }
    100% {
      background-color: yellow;
    }
  }
*/