:root {
  --desktop: 1200px; 
  --laptop: 1024px; 
  --tablet: 768px; 
  --phone: 320px;
}

body {
  display: flex; 
  justify-content: center;
  overflow-y: auto;
}



@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Viga&display=swap');
.home-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
   
  }
  
.about-me-header {
    font-size: 50px;
    text-align: center;
    font-family: Orbitron;
    color: white;
}

.bio {
   color: white;
 
}

.frontend-skills {
    color: white;
}

.backend-skills {
    color: white;
}

.interests {
    color: white;
  
}

/* .avatar-pic {
   height: 350px;
   width: 350px;
   border-radius: 50%;
   position: absolute;
   top: 200px;
   margin-left: 50px;
} */

.about-container {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
}

.contact-container {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
}

.home-head {
 
    text-align: center;
    font-size: 65px;
    font-family: Orbitron;
}

.home-head:hover {
    /* font-size: 65px; */
    transition-duration: 1s; 
      transform: scale(1.35);
  color: cyan;
}

.linked-icon {
    color: white;
    height: 50px; 
    width: 50px;
}

.github-icon {
    color: white;
    width: 50px;
    height: 50px;

}

.mail-icon {
    color: white;
    width: 50px;
    height: 50px;
}

.hamburger { 
  height: 50px; 
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.navpage-container{
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
}

.nav-links {
  position: relative; 
  top: 50%;
  text-align: center;
  font-size: 50px;
}

.close-btn {
  height: 50px; 
  width: 100px;
  position: absolute;
 bottom: 550px;
  right: 30px;
}

.projects-container {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  display: flex;
  
}

.projects-header {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: Orbitron;
 
}

.project-one {
  height: 300px;
  width: 300px;
  display: table;
  float: left;
  padding: 80px;
}

.project-two {
  height: 300px;
  width: 300px;
  float: left;
  padding: 80px;


}

.project-three {
  height: 300px;
  width: 300px;
  float: left;
  padding: 80px;

}


.project-one-p-tag {
  color: white;
}

.project-two-p-tag {
  color: white;
}

.project-three-p-tag {
  color: white;
}

li {
  list-style: none;
  color: white;
}

h4{
  color: white;
}

label {
  color: white;
}

.front-card {
  height: 350px; 
  width: 700px;
  float: left;
  margin-left: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.front-images {
  
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-left: 50px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}




.back-card {
  background-color: green;
}

.opening-text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /*Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.home-linkedin {
  height: 100px; 
  width: 100px;
  position: relative; 
  top: 200px; 
}

.home-github {
  height: 100px; 
  width: 100px;
  position: relative; 
  top: 200px; 
}

@media (max-width: var(--laptop)) {
  p {
    display: block;
    font-size: 25px;
  }
  .frontend-skills {
    display: block; 
    font-size: 25px;
  }

  .backend-skills {
    display: block; 
    font-size: 25px;
  }
  }

@media (max-width: var(--tablet)) {
  p {

    display: block;
    font-size: 25px;
  }
}

@media (max-device-width: var(--phone)) {
  p {

    display: block;
    font-size: 25px;
    color: green;
  }
}

/* 
look into adding margin: auto; for positioning some divs in the middle.
  div:hover{
    transform: scale(1.1); expands on hover
  }

  ANIMATIONS EXAMPLE: 
    #rect {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-out;
  }

  @keyframes rainbow {
    0% {
      background-color: blue;
    }
    50% {
      background-color: green; 
    }
    100% {
      background-color: yellow;
    }
  }
*/